@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ryan's Website";
}



<h1>Preferred name: Ryan Knecht</h1>

<!-- This is the picture of me -->
<img src="~/img/Arches.jpg" />

<!--This is what I want out of the course-->
<p>What I want to get out of this course is a good background knowledge of how to develop web applications. I consider myself fairly entrepreneurial and want to use the skills I learn in this course to further the goal of being my own boss.</p>
<br />

<!--My top 3 jobs-->
<p>My top 3 potential jobs: </p>
<ul>
    <li>1) Digitial Forensic Investigator</li>
    <li>2) Entrepreneur </li>
    <li>3) Project Management</li>
</ul>

